doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/static/stylesheet/css')
    body
        header
            h1= title
        div.container
            block content

